$color-white: #fff;
$color-light-gray: #7c7c7c;
$color-gray: #5f5a69;
$color-dark: #121824;
$color-blue: #435ebe;

$color-bg-light: #f2f7ff;
$color-bg-blue: #435ebe;
$color-bg-light-blue: #6e8bec;
$color-bg-light-gray: #f3f3f3;
